body {
  font-family: "calluna-sans"; }

.hero-wrap {
  background-image: url(../../assets/img/cupcake-photo.png);
  padding-bottom: 8vh;
  background-size: 293%;
  background-position: -10px center;
  background-repeat: no-repeat; }
  .hero-wrap nav {
    display: flex;
    justify-content: space-between; }
    .hero-wrap nav .leaf-nav {
      width: 65px;
      padding-left: 20px;
      padding-top: 20px; }
      .hero-wrap nav .leaf-nav p {
        color: white;
        text-align: center; }
    .hero-wrap nav .cart {
      width: 65px;
      padding-right: 20px;
      padding-top: 20px; }
      .hero-wrap nav .cart p {
        color: white;
        text-align: center; }
  .hero-wrap .hero-logo {
    display: flex;
    align-items: center;
    justify-content: center; }
    .hero-wrap .hero-logo img {
      width: 340px; }
  .hero-wrap .welcome {
    font-size: 4.5rem;
    color: RGB(251, 231, 230);
    font-family: "freight-big-pro", serif;
    font-style: italic;
    font-weight: 300;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-top: 12%;
    text-align: center; }
  .hero-wrap .underline-white {
    width: 68%;
    background-image: url(../../assets/img/header-underline-pink.svg);
    padding-bottom: 37%;
    background-repeat: no-repeat;
    margin-left: 17%;
    margin: 0 auto; }
  .hero-wrap .bakery-text, .hero-wrap .welcome-text {
    color: RGB(251, 231, 230);
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.5; }
  .hero-wrap .welcome-text {
    width: 79%;
    margin-left: 14%;
    margin-bottom: 10%; }
  .hero-wrap .bakery-text {
    width: 83%;
    margin: 0 auto;
    margin-bottom: 10%; }
    .hero-wrap .bakery-text p span {
      font-style: italic;
      font-weight: 600; }
  .hero-wrap .arrow-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 2%;
    margin-top: 20%; }
    .hero-wrap .arrow-wrap .dig-in {
      color: white; }
    .hero-wrap .arrow-wrap .down-arrow-img {
      width: 11%;
      margin-top: 5%; }

.desserts-wrap {
  background-image: url(../../assets/img/dessert-background.png);
  padding-bottom: 20vh;
  background-repeat: no-repeat;
  background-size: cover; }
  .desserts-wrap .desserts-title {
    color: white;
    font-size: 5rem;
    padding-top: 18%;
    text-align: center;
    font-family: "freight-big-pro", serif;
    font-style: italic;
    font-weight: 300;
    font-weight: 600;
    letter-spacing: 1.5px; }
  .desserts-wrap .underline-white {
    width: 68%;
    background-image: url(../../assets/img/header-underline-pink.svg);
    padding-bottom: 37%;
    background-repeat: no-repeat;
    margin-left: 17%;
    margin: 0 auto; }
  .desserts-wrap .dessert-grid {
    display: flex;
    flex-wrap: wrap; }
    .desserts-wrap .dessert-grid .title {
      font-size: 1.7rem;
      background-color: RGBA(69, 55, 69, 0.8);
      width: 100%;
      text-align: center;
      position: relative;
      bottom: -405px;
      padding-top: 10%;
      padding-bottom: 10%;
      margin: 0 auto;
      color: white;
      font-style: italic;
      line-height: 1.5; }
    .desserts-wrap .dessert-grid .grid-image {
      margin-right: 2%;
      margin-left: 2%;
      width: 48%;
      margin: 0 auto;
      background-size: cover;
      margin-bottom: 2%; }
    .desserts-wrap .dessert-grid .cakes-cupcakes {
      background-image: url(../../assets/img/cake-link.png);
      background-repeat: no-repeat;
      padding-bottom: 108%; }
      .desserts-wrap .dessert-grid .cakes-cupcakes p {
        width: 95%; }
    .desserts-wrap .dessert-grid .donuts-pastries {
      background-image: url(../../assets/img/donut-link.png);
      background-repeat: no-repeat;
      padding-bottom: 108%; }
      .desserts-wrap .dessert-grid .donuts-pastries p {
        width: 95%; }
    .desserts-wrap .dessert-grid .ice-cream-shakes {
      background-image: url(../../assets/img/ice-cream-link.png);
      background-repeat: no-repeat;
      padding-bottom: 108%; }
    .desserts-wrap .dessert-grid .choclates-fruits {
      background-image: url(../../assets/img/chocolate-link.png);
      background-repeat: no-repeat;
      padding-bottom: 108%; }

.butters-extracts-wrap {
  background-color: RGBA(254, 249, 255, 1);
  overflow: hidden; }
  .butters-extracts-wrap .butters-extracts-wrap-title {
    color: black;
    font-size: 4rem;
    text-align: center;
    padding-top: 10%;
    font-family: "freight-big-pro", serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1.5px; }
  .butters-extracts-wrap .underline-white {
    width: 68%;
    background-image: url(../../assets/img/header-underline.svg);
    padding-bottom: 20%;
    background-repeat: no-repeat;
    margin-left: 17%;
    margin: 0 auto; }
  .butters-extracts-wrap .butters-extracts-description {
    width: 95%;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.8;
    margin: 0 auto;
    margin-bottom: 20%; }
  .butters-extracts-wrap .indica-sativa-wrap {
    position: relative;
    width: 95%;
    margin: 0 auto;
    transition: all .8s; }
    .butters-extracts-wrap .indica-sativa-wrap .indica-hidden-text {
      position: relative;
      top: -160px;
      padding-bottom: 50%;
      width: 80%;
      margin: 0 auto;
      line-height: 2;
      text-align: center;
      display: none; }
      .butters-extracts-wrap .indica-sativa-wrap .indica-hidden-text:active {
        display: block; }
    .butters-extracts-wrap .indica-sativa-wrap .indica-image {
      background-image: url(../../assets/img/purple-leaf.png);
      background-repeat: no-repeat;
      transform: rotate(90deg);
      padding-bottom: 100%;
      background-size: contain; }
      .butters-extracts-wrap .indica-sativa-wrap .indica-image .indica-description {
        display: flex;
        justify-content: center;
        width: 50%;
        position: absolute;
        top: 0%;
        height: 50%;
        background-color: RGBA(35, 16, 65, 0.8);
        transition: all 1s; }
        .butters-extracts-wrap .indica-sativa-wrap .indica-image .indica-description:active {
          padding-bottom: 50%; }
        .butters-extracts-wrap .indica-sativa-wrap .indica-image .indica-description .white-arrow-down {
          width: 23%;
          position: absolute;
          left: 65%;
          top: 33%; }
        .butters-extracts-wrap .indica-sativa-wrap .indica-image .indica-description p {
          color: white;
          font-size: 1.4rem;
          z-index: 1000;
          position: absolute;
          transform: rotate(270deg);
          top: 34%;
          display: flex;
          flex-direction: column;
          left: 30%; }
    .butters-extracts-wrap .indica-sativa-wrap .sativa-image {
      background-image: url(../../assets/img/green-leaf.png);
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      transform: rotate(90deg);
      padding-bottom: 100%;
      background-size: contain;
      margin-top: -40%;
      margin-bottom: -40%; }
      .butters-extracts-wrap .indica-sativa-wrap .sativa-image .sativa-description {
        display: flex;
        justify-content: center;
        width: 49%;
        position: absolute;
        top: 50%;
        height: 50%;
        background-color: RGBA(35, 16, 65, 0.8); }
        .butters-extracts-wrap .indica-sativa-wrap .sativa-image .sativa-description .white-arrow-down {
          width: 23%;
          position: absolute;
          left: 65%;
          top: 33%;
          transform: rotate(180deg); }
        .butters-extracts-wrap .indica-sativa-wrap .sativa-image .sativa-description p {
          color: white;
          font-size: 1.4rem;
          z-index: 1000;
          position: absolute;
          transform: rotate(270deg);
          top: 34%;
          display: flex;
          flex-direction: column;
          left: 30%; }
  .butters-extracts-wrap .marijuana-benefits {
    color: black;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2;
    position: relative;
    padding-bottom: 30%;
    margin-bottom: -20%; }
  .butters-extracts-wrap .arrow-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 2%;
    margin-top: 20%; }
    .butters-extracts-wrap .arrow-wrap .down-arrow-img {
      width: 11%;
      margin-top: 3%;
      transform: rotate(90deg);
      margin-bottom: 12%; }

.custom-orders-wrap {
  background-image: url(../../assets/img/custom-bkg-01.png);
  background-size: cover;
  background-position-x: -240px; }
  .custom-orders-wrap .custom-orders-title {
    color: white;
    font-size: 4rem;
    padding-top: 10%;
    margin-left: 25%;
    font-family: "freight-big-pro", serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1.5px; }
  .custom-orders-wrap .underline-white {
    width: 68%;
    background-image: url(../../assets/img/header-underline-pink.svg);
    padding-bottom: 20%;
    background-repeat: no-repeat;
    margin-left: 17%;
    margin: 0 auto; }
  .custom-orders-wrap .custom-icons-wrap {
    display: flex;
    justify-content: space-around; }
    .custom-orders-wrap .custom-icons-wrap .bowl-icon {
      background-image: url(../../assets/img/create-assets/cart-bowl.svg);
      width: 25%;
      padding-bottom: 36%;
      background-size: contain;
      background-repeat: no-repeat; }
    .custom-orders-wrap .custom-icons-wrap .thermo-icon {
      background-image: url(../../assets/img/weed-vector-black.png);
      width: 25%;
      padding-bottom: 36%;
      background-size: contain;
      background-repeat: no-repeat; }
    .custom-orders-wrap .custom-icons-wrap .leaf-icon {
      background-image: url(../../assets/img/weed-vector-black.png);
      width: 25%;
      padding-bottom: 36%;
      background-size: contain;
      background-repeat: no-repeat; }
  .custom-orders-wrap .custom-planning-text, .custom-orders-wrap .custom-description-text {
    width: 92%;
    color: RGB(251, 231, 230);
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 8%;
    margin-left: 5%;
    margin-right: 25%; }
  .custom-orders-wrap .arrow-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 2%;
    margin-top: 20%;
    color: white; }
    .custom-orders-wrap .arrow-wrap .down-arrow-img {
      width: 11%;
      margin-top: 3%;
      transform: rotate(270deg);
      margin-bottom: 12%; }

/*# sourceMappingURL=main.css.map */
